@font-face
  font-family 'Roboto Flex'
  font-display swap
  font-weight 300 1000
  font-style oblique 0deg 10deg
  font-stretch 25% 151%
  src url('../fonts/roboto-flex/RobotoFlex-Greek-English[slnt,wdth,wght_300_1000,opsz_14_48].woff2')
  format('woff2')
