// Colors
color-primary-hue = 220
color-secondary-hue = color-primary-hue - 30
color-accent-hue = color-primary-hue + 90
color-primary = hsl(color-primary-hue, 50%, 50%)
color-secondary = hsl(color-secondary-hue, 50%, 50%)
color-accent = hsl(color-accent-hue, 50%, 50%)
color-text = hsl(color-primary-hue, 70%, 12%)
color-background = hsl(color-primary-hue, 50%, 100%)
color-background-1 = hsl(color-primary-hue, 50%, 98%)
color-background-2 = hsl(color-primary-hue, 50%, 96%)
// Typography
font-size-05 = 0.9em
font-size-1 = 1.25rem
font-size-2 = 1.5em
font-size-3 = 2em
font-size-4 = 2.5em
line-height = 1.5
rhythm = font-size-1 * line-height
rhythm-0125 = 0.125 * rhythm
rhythm-025 = 0.25 * rhythm
rhythm-05 = 0.5 * rhythm
rhythm-2 = 2 * rhythm
rhythm-3 = 3 * rhythm
rhythm-4 = 4 * rhythm